@import'./variables';
@import'./mixins';

.episodios{
    position: relative;
    margin-top: 50px;

    @include movil;

    h2{
        color: $letra_claro;
        margin-top: 70px;

        @media (min-width:$min_w){
            margin-top: 150px;
            margin-left: 200px;
        }
    }
}
.ep{
    display: flex;
    flex-direction: column;

    @media (min-width:$min_w){
        justify-content: space-evenly;
        flex-wrap: wrap;
        gap: 20px;
        @include compu;
    }
}
.spotify{
    border-radius: 10px;
    border:hidden;
    width: 200px;

    @media (min-width:$min_w){
        width: 500px;
    }
}

.fondo{
    width: 100%;
    height: 1000px;
    clip-path: polygon(0 4%, 100% 0%, 100% 96%, 0% 100%);
    z-index: -10;

    @include fondo;

    @media (min-width:$min_w){
        clip-path: polygon(0 17%, 100% 0, 100% 78%, 0% 100%);
        height: 1000px;
    }
}
