@import'./variables';

.nos{
    transform: translateY(-10%);
    z-index: 100;

    @include movil;

    @media (min-width:$min_w){
        justify-content: center;
        align-items: center;
        transform: translateY(-35%);
        
        @include compu;
    }

    img{
        width: 90vw;
        height: auto;
        z-index: 100;

        @media (min-width:$min_w){
            height: 660px;
            width: auto;
        }
    }

    p{
        @media (min-width:$min_w){
            width: 500px;
        }
    }
}